:root {
    --primary: #06283D;
    --secondary: #1363DF;
    --lightblue: #47B5FF;
    --paleblue: #DFF6FF;
}

body,
html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background: var(--paleblue);
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    font-family: 'Covered By Your Grace';
    text-align: center;
    text-shadow: 1px 1px var(--paleblue), 2px 2px var(--primary);
}

header {
    padding: 20px;
    background: var(--primary);
    box-shadow: 0 2px 15px gray;
}

footer {
    padding: 10px;
    background: var(--primary);
    text-align: center;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
}

p {
    padding: 0 5vw;
    text-align: center;
    font-size: 1.25rem;
}

.game-state-button {
    cursor: pointer;
    color: white;
    background: var(--primary);
    transition: background-color 5ms linear;
    border-radius: 25px;
    padding: 10px 30px;
    border: none;
    font-size: 1.25rem;
}

.game-state-button:hover {
    background: var(--secondary);
}

.game-state-button:active {
    background-color: var(--lightblue);
}

.hidden {
    display: none;
}

.align-right {
    text-align: right;
}

.game-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.antibiotic {
    border-radius: 25px;    
    width: 3vmin;
    height: 9vmin;
    position: absolute;
}

.antibiotic-a {
    background: radial-gradient(red, darkred 95%, transparent);
    top: 50vmin;
    left: 25vmin;
}

.antibiotic-b {
    background: radial-gradient(lime, green 95%, transparent);
    top: 10vmin;
    left: 15vmin;
}

.antibiotic-c {
    background: radial-gradient(blue, mediumblue 95%, transparent);
    top: 35vmin;
    left: 55vmin;
}

.antibiotic-markers-container {
    display: flex;
    justify-content: flex-end;
}

.antibiotic-marker {
    border-radius: 25px;
    width: 5.5vmin;
    height: 2.5vmin;
    border: 1px solid black;
    margin-left: 0.75vmin;
    background: linear-gradient(90deg, red 49%, black 49%, black 51%, white 51%);
}

.antibiotic-marker--empty {
    background: linear-gradient(90deg, gray 49%, black 49%, black 51%, gray 51%);
}

#play-scene,
.game-scene {
    height: 100%;
    justify-content: space-between;
}

#game-stats {
    justify-self: flex-start;
    font-size: 1.25rem;
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#game-stats > div {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

#start-scene p {
    margin-bottom: 70px;
}

/*
* Add gradient to border 
* https://stackoverflow.com/a/51496341/263158 
*/
#petri-dish {
    border-radius: 50%;
    width: 65vmin;
    height: 65vmin;
    padding: 2.5vmin;
    border: 2.5vmin solid transparent;
    background: radial-gradient(circle at center, transparent, white, lightgray 68%, black) padding-box,
                linear-gradient(lightgray, white, whitesmoke, white, lightgray) border-box;
    box-shadow: 0px 0px 20px var(--primary);
    position: relative;
}

#bacteria {
    border-radius: 3.75vmin;
    width: 8vmin;
    height: 16vmin;
    background: radial-gradient( purple, mediumpurple);
    position: absolute;
    top: 25vmin;
    left: 15vmin;
}

@media (max-width: 500px) {
    p,
    #game-stats {
        font-size: 1rem;
    }
}