:root {
    --primary: #06283D;
    --secondary: #1363DF;
    --lightblue: #47B5FF;
    --paleblue: #DFF6FF;
}

body,
html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background: var(--paleblue);
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: 'Covered By Your Grace';
    text-align: center;
    font-size: 4rem;
}

h1 {
    margin: 5vmin 0;
    font-size: 4rem;
    text-shadow: 1px 1px var(--paleblue), 2px 2px var(--primary);
}

h2 {
    color: white;
    text-shadow: 2px 2px var(--primary);
}

header {
    padding: 20px;
    background: var(--primary);
    box-shadow: 0 2px 15px gray;
}

footer {
    padding: 10px;
    background: var(--primary);
    text-align: center;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
}

p {
    padding: 0 5vw;
    text-align: center;
    font-size: 1.25rem;
}

.game-state-button {
    cursor: pointer;
    color: white;
    background: var(--primary);
    transition: background-color 5ms linear;
    border-radius: 25px;
    padding: 10px 30px;
    border: none;
    font-size: 1.25rem;
}

.game-state-button:hover {
    background: var(--secondary);
}

.game-state-button:active {
    background-color: var(--lightblue);
}

.game-state-secondary-button {
    background: var(--lightblue);
    border: 1px solid var(--primary);
    color: black;
}

.hidden {
    display: none;
}

.align-right {
    text-align: right;
}

.game-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.antibiotic {
    border-radius: 25px;    
    width: 3vmin;
    height: 9vmin;
    position: absolute;
}

.antibiotic-a {
    background: radial-gradient(red, darkred 95%, transparent);
}

.antibiotic-b {
    background: radial-gradient(lime, green 95%, transparent);
}
.antibiotic-c {
    background: radial-gradient(blue, mediumblue 95%, transparent);
}

.antibiotic-markers-container {
    display: flex;
    justify-content: flex-end;
}

.antibiotic-marker {
    border-radius: 25px;
    width: 5.5vmin;
    height: 2.5vmin;
    border: 1px solid black;
    margin-left: 0.75vmin;
    background: linear-gradient(90deg, red 49%, black 49%, black 51%, white 51%);
}

.antibiotic-marker--empty {
    background: linear-gradient(90deg, gray 49%, black 49%, black 51%, gray 51%);
}

.legend-item {
    border-radius: 5px;
    margin: 1vmin;
    padding: 5px;
    color: black;
    background: white;
    width: 12vmin;
    height: 10vmin;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.legend-item > .antibiotic {
    position: relative;
    left: none;
    top: none;
}

.legend-item > label {
    text-align: right;
    font-size: 3.25rem;
    font-family: 'Covered By Your Grace';
}

.flashing-red {
    animation: 750ms infinite alternate-reverse flashred; 
}

#end-scene,
#start-scene,
#play-scene,
.game-scene {
    height: 100%;
}

#start-scene .game-scene,
#end-scene .game-scene {
    justify-content: center;
}

#end-scene button {
    width: 185px;
    margin-bottom: 10px;
}

#game-stats {
    justify-self: flex-start;
    font-size: 1.25rem;
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#game-stats > div {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

#play-scene {
    position: relative;
}

#round-overlay {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 100%;
}

#round-overlay > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#start-scene p {
    margin-bottom: 5vmin;
}

#legend {
    display: flex;
    flex-wrap: wrap;
}

/*
* Add gradient to border 
* https://stackoverflow.com/a/51496341/263158 
*/
#petri-dish {
    border-radius: 50%;
    width: 65vmin;
    height: 65vmin;
    padding: 2.5vmin;
    border: 2.5vmin solid transparent;
    background: radial-gradient(circle at center, transparent, white, lightgray 68%, black) padding-box,
                linear-gradient(lightgray, white, whitesmoke, white, lightgray) border-box;
    box-shadow: 0px 0px 20px var(--primary);
    position: relative;
}

#bacteria {
    border-radius: 3.75vmin;
    width: 8vmin;
    height: 16vmin;
    background: radial-gradient( purple, mediumpurple);
    position: absolute;
    top: 42%;
    left: 45%;
}

#time-counter::before {
    content: '00:'
}

@keyframes flashred {
    from {
        color: black;
    }

    to {
        color: red;
    }
}

@media (max-width: 500px) {
    p,
    #game-stats {
        font-size: 1rem;
    }

    .legend-item > label {
        font-size: 1.5rem;
    }
    
    .game-scene {
        justify-content: center;
    }

    #petri-dish {
        margin-top: 10%;
    }
}